<!doctype html>
<html>
    <head>
        <title>Spotify Test</title>
        <!-- using bootstrap -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <!-- <script type="text/javascript" src="logic.js"></script> -->
    </head>

    <body>
        <div class="container">
            <div id="login">
                <h1>Spotify: Listen in sync with your friends</h1>
                <a href="/login" id="checkPage" class="btn btn-primary">Log in</a>
            </div>

            <div id="loggedin">
                <div id="user_profile"></div>
                <div id="oatuh"></div>
            </div>
        </div>

    </body>
</html>